body {
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9999;
  background: #fff;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
  position: fixed;
  top: 0;
}
.header_wrap {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slide_item {
  position: relative;
  height: 0;
  padding-top: 36%;
}
.site_logo {
  width: 100px;
  height: 100px;
  padding: 10px;
}
.site_logo img {
  width: 100%;
  height: 100%;
}
.gnb {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.gnb_item a {
  padding: 15px 30px;
}

/* swiper */
main {
  margin-top: 100px;
}
.swiper_wrap {
  position: relative;
}
.swiper_round_bottom {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background: #fff;
  border-radius: 40px 40px 0 0;
  z-index: 1;
}
.swiper_image {
  width: 100%;
  max-height: 50%;
  height: 50%;
}

/* 새로운 가맹점 */
.main_searchWrap {
  width: 100%;
  height: 340px;
  margin: 30px 0 50px;
  padding: 0 272px;
}
.main_searchContainer {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: url("../assets/search.png") no-repeat center center / cover;
}

.blackBox {
  margin-top: 16px;
  align-self: center;
  padding: 10px 20px;
  background: #000;
  color: #fff;
}
.search_top {
  margin-top: 20px;
  font-size: 30px;
  column-gap: 10px;
}
.search_input {
  width: 300px;
  margin: 32px auto 0;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.search_input input {
  width: 100%;
  height: 100%;
  border: 0;
}
.search_input input:focus-visible {
  outline: 0;
}
.main_searchContainer button {
  margin: 65px auto 0;
  padding: 5px 20px;
  background: #ff0000;
  color: #fff;
  border: 0;
}

/* footer */
#footer {
  padding: 60px 0;
  background: #000;
}
.footer_wrap {
  max-width: 1440px;
  line-height: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.footer_left {
  text-align: right;
}

.sub_banner {
  width: 100%;
  height: 0;
  padding-top: 36%;
  position: relative;
}

/* 브랜드 소개 */
.brand_intro_wrap {
  width: 100%;
  max-width: 1440px;
  height: 300px;
  padding: 0 160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand_intro_wrap img {
  width: 50%;
  height: 100%;
}
.brand_intro_desc {
  width: 50%;
  padding-left: 50px;
}
.brand_intro_title {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.6;
}
.brand_intro_contents {
  margin-top: 20px;
  line-height: 1.6;
}
.greywrap_center {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  column-gap: 100px;
}
.cir_grey {
  width: 182px;
  height: 182px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;
}
.cowking_wrap {
  max-width: 1440px;
  margin: 30px auto 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.cowking_intro {
  font-weight: bold;
  font-size: 40px;
}
.cowking_chef {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
}
.chef_intro {
  flex: 1;
}
.subSlide_wrap {
  flex: 1;
  width: 50%;
  height: 100%;
}
.subSlide_container {
  width: 100%;
  height: 100%;
}
.subSlide_item {
  position: relative;
  height: 100%;
}

/* 메뉴 */
.menu_wrap {
  max-width: 1070px;
  width: 100%;
  margin: 40px auto 0;
}
.menu_tab {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.menu_desc {
  flex: 1;
  display: flex;
  column-gap: 10px;
}
.menu_content {
  flex: 1;
  width: 500px;
  height: 400px;
  margin-bottom: 100px;
}
.menu_image {
  width: 100%;
  height: 100%;
}
.menu_image img {
  width: 100%;
  height: 100%;
}
.menu_name {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background: #d9d9d9;
}

@media (max-width: 1280px) {
  .footer_wrap {
    padding: 0 40px;
  }
}

@media (max-width: 1024px) {
  .new_shop_wrap {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .new_shop_container {
    flex-direction: column;
  }
  .new_shop_left {
    flex: 2;
  }
  .new_shop_right_inner {
    padding: 20px 0 25px;
    align-items: center;
  }
  .new_shop_desc span {
    display: none;
  }
}
