body {
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9999;
  background: #fff;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
  position: fixed;
  top: 0;
}
.header_wrap {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slide_item {
  position: relative;
  height: 0;
  padding-top: 36%;
}
.site_logo {
  width: 100px;
  height: 100px;
  padding: 10px;
}
.site_logo img {
  width: 100%;
  height: 100%;
}
.gnb {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.gnb_item a {
  padding: 15px 30px;
}

/* swiper */
main {
  margin-top: 100px;
}
.swiper_wrap {
  position: relative;
}
.swiper_round_bottom {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background: #fff;
  border-radius: 40px 40px 0 0;
  z-index: 1;
}
.swiper_image {
  width: 100%;
  max-height: 50%;
  height: 50%;
}

/* 새로운 가맹점 */
.new_shop_wrap {
  width: 100%;
  height: 340px;
  margin: 30px 0 50px;
  padding: 0 44px;
}
.new_shop_container {
  width: 1070px;
  height: 100%;
  display: flex;
}
.new_shop_container div {
  flex: 1;
}
.new_shop_left img {
  width: 100%;
  height: 100%;
}
.new_shop_right {
  background: #f7f7f7;
}
.new_shop_right_inner {
  height: 100%;
  display: flex;
  padding-left: 50px;
  flex-direction: column;
  justify-content: center;
}

.new_shop_name {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
}
.new_shop_desc {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.5px;
  color: #707070;
}

/* footer */
#footer {
  padding: 60px 0;
  background: #000;
}
.footer_wrap {
  max-width: 1440px;
  line-height: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.footer_left {
  text-align: right;
}

.sub_banner {
  width: 100%;
  height: 0;
  padding-top: 36%;
  position: relative;
}

/* 브랜드 소개 */
.brand_intro_wrap {
  width: 100%;
  max-width: 1070px;
  height: 300px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand_intro_wrap img {
  width: 50%;
  height: 100%;
}
.brand_intro_desc {
  padding-left: 50px;
}
.brand_intro_title {
  font-weight: bold;
  font-size: 30px;
}
.brand_intro_contents {
  margin-top: 20px;
}
.cowking_wrap {
  max-width: 1070px;
  margin: 30px auto 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.cowking_intro {
  font-weight: bold;
  font-size: 40px;
}
.cowking_chef {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
}
.chef_intro {
  flex: 1;
}
.subSlide_wrap {
  flex: 1;
  width: 50%;
  height: 100%;
}
.subSlide_container {
  width: 100%;
  height: 100%;
}
.subSlide_item {
  position: relative;
  height: 100%;
}

/* 메뉴 */
.menu_wrap {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
}
.menu_tab {
  width: 100px;
  display: flex;
  flex-direction: column;
}
.menu_desc {
  flex: 1;
  background: #eee;
}

@media (max-width: 1280px) {
  .footer_wrap {
    padding: 0 40px;
  }
}

@media (max-width: 1024px) {
  .new_shop_wrap {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .new_shop_container {
    flex-direction: column;
  }
  .new_shop_left {
    flex: 2;
  }
  .new_shop_right_inner {
    padding: 20px 0 25px;
    align-items: center;
  }
  .new_shop_desc span {
    display: none;
  }
}
